<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script type="text/javascript"  charset="UTF-8" src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/layui/layui.all.js" type="text/javascript" charset="UTF-8"></script>
    <title>物品信息</title>
    <script type="text/html" id="barTpl">
        <a class="layui-btn  layui-btn-xs " onclick="do_lend('{{d.id}}','lend')">借记</a>
        <a class="layui-btn  layui-btn-xs " onclick="do_lend('{{d.id}}','return')">归还</a>
    </script>
    <style>
        .search{
            text-align: right;
        }
        .search input{

            width: 300px;
        }
    </style>
</head>

<body class="layui-card-body">
<div class="layui-row">
    <div class="layui-col-xs8">
        &nbsp;
    </div>
    <div class="layui-col-xs4 search" >
				<span class=" layui-inline">
                          <input type="text" id="searchValue" required lay-verify="required" placeholder="请输入标签名/类型名" autocomplete="off" class="layui-input">
                        </span>
        <span class="layui-inline">
                           <button class="layui-btn" id="doSearch">搜索</button>
                        </span>
    </div>
</div>
<div class="layui-row">
    <table class="layui-table" id="table" lay-filter="table"></table>
</div>
<script src="/static/management/goods/goods.statistic.js" charset="utf-8"></script>
<script type="text/javascript"  charset="UTF-8" src="/static/common/common.js"></script>
</body>

</html>