<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.su.manager.goods.dao.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.gzu.su.manager.goods.model.GoodsInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="GOODS_NAME" jdbcType="VARCHAR" property="goodsName" />
    <result column="GOODS_BUY_TIME" jdbcType="DATE" property="goodsBuyTime" />
    <result column="GOODS_PRICE" jdbcType="VARCHAR" property="goodsPrice" />
    <result column="GOODS_LENDER" jdbcType="VARCHAR" property="goodsLender" />
    <result column="GOODS_NUMBER" jdbcType="VARCHAR" property="goodsNumber" />
    <result column="GOODS_RETURNER" jdbcType="VARCHAR" property="goodsReturner" />
    <result column="LEND_TIME" jdbcType="DATE" property="lendTime" />
    <result column="RETURN_TIME" jdbcType="DATE" property="returnTime" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="GOODS_MARGIN" jdbcType="VARCHAR" property="goodsMargin" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GOODS_NAME, GOODS_BUY_TIME, GOODS_PRICE, GOODS_LENDER, GOODS_NUMBER, GOODS_RETURNER, 
    LEND_TIME, RETURN_TIME, CREATE_TIME, UPDATE_TIME, GOODS_MARGIN
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gzusu_manager_goods_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gzusu_manager_goods_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gzu.su.manager.goods.model.GoodsInfo">
    insert into gzusu_manager_goods_info (ID, GOODS_NAME, GOODS_BUY_TIME, 
      GOODS_PRICE, GOODS_LENDER, GOODS_NUMBER, 
      GOODS_RETURNER, LEND_TIME, RETURN_TIME, 
      CREATE_TIME, UPDATE_TIME, GOODS_MARGIN
      )
    values (#{id,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsBuyTime,jdbcType=DATE}, 
      #{goodsPrice,jdbcType=VARCHAR}, #{goodsLender,jdbcType=VARCHAR}, #{goodsNumber,jdbcType=VARCHAR}, 
      #{goodsReturner,jdbcType=VARCHAR}, #{lendTime,jdbcType=DATE}, #{returnTime,jdbcType=DATE}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{goodsMargin,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gzu.su.manager.goods.model.GoodsInfo">
    insert into gzusu_manager_goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="goodsName != null">
        GOODS_NAME,
      </if>
      <if test="goodsBuyTime != null">
        GOODS_BUY_TIME,
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE,
      </if>
      <if test="goodsLender != null">
        GOODS_LENDER,
      </if>
      <if test="goodsNumber != null">
        GOODS_NUMBER,
      </if>
      <if test="goodsReturner != null">
        GOODS_RETURNER,
      </if>
      <if test="lendTime != null">
        LEND_TIME,
      </if>
      <if test="returnTime != null">
        RETURN_TIME,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="goodsMargin != null">
        GOODS_MARGIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsBuyTime != null">
        #{goodsBuyTime,jdbcType=DATE},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsLender != null">
        #{goodsLender,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null">
        #{goodsNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsReturner != null">
        #{goodsReturner,jdbcType=VARCHAR},
      </if>
      <if test="lendTime != null">
        #{lendTime,jdbcType=DATE},
      </if>
      <if test="returnTime != null">
        #{returnTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsMargin != null">
        #{goodsMargin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzu.su.manager.goods.model.GoodsInfo">
    update gzusu_manager_goods_info
    <set>
      <if test="goodsName != null">
        GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsBuyTime != null">
        GOODS_BUY_TIME = #{goodsBuyTime,jdbcType=DATE},
      </if>
      <if test="goodsPrice != null">
        GOODS_PRICE = #{goodsPrice,jdbcType=VARCHAR},
      </if>
      <if test="goodsLender != null">
        GOODS_LENDER = #{goodsLender,jdbcType=VARCHAR},
      </if>
      <if test="goodsNumber != null">
        GOODS_NUMBER = #{goodsNumber,jdbcType=VARCHAR},
      </if>
      <if test="goodsReturner != null">
        GOODS_RETURNER = #{goodsReturner,jdbcType=VARCHAR},
      </if>
      <if test="lendTime != null">
        LEND_TIME = #{lendTime,jdbcType=DATE},
      </if>
      <if test="returnTime != null">
        RETURN_TIME = #{returnTime,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsMargin != null">
        GOODS_MARGIN = #{goodsMargin,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzu.su.manager.goods.model.GoodsInfo">
    update gzusu_manager_goods_info
    set GOODS_NAME = #{goodsName,jdbcType=VARCHAR},
      GOODS_BUY_TIME = #{goodsBuyTime,jdbcType=DATE},
      GOODS_PRICE = #{goodsPrice,jdbcType=VARCHAR},
      GOODS_LENDER = #{goodsLender,jdbcType=VARCHAR},
      GOODS_NUMBER = #{goodsNumber,jdbcType=VARCHAR},
      GOODS_RETURNER = #{goodsReturner,jdbcType=VARCHAR},
      LEND_TIME = #{lendTime,jdbcType=DATE},
      RETURN_TIME = #{returnTime,jdbcType=DATE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      GOODS_MARGIN = #{goodsMargin,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    gzusu_manager_goods_info
    WHERE GOODS_NAME = #{gName,jdbcType=VARCHAR}
  </select>
  <select id="findByPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    gzusu_manager_goods_info
    <if test="gName != null and gName != ''">
      WHERE
      GOODS_NAME LIKE CONCAT('%',#{gName,jdbcType=VARCHAR},'%')
    </if>
    order by UPDATE_TIME DESC
    LIMIT #{startNum},#{size}
  </select>
  <select id="findByPageCount" resultType="java.lang.Integer">
    SELECT
    COUNT(g.ID)
    FROM (
    SELECT
    <include refid="Base_Column_List" />
    FROM
    gzusu_manager_goods_info
    <if test="gName != null and gName != ''">
      WHERE
      GOODS_NAME LIKE CONCAT('%',#{gName,jdbcType=VARCHAR},'%')
    </if>
    )g
  </select>
</mapper>