<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.su.manager.user.dao.SysFunMapper">
  <resultMap id="BaseResultMap" type="com.gzu.su.manager.user.model.SysFun" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FUN_NAME" property="funName" jdbcType="VARCHAR" />
    <result column="FUN_ICON" property="funIcon" jdbcType="VARCHAR" />
    <result column="FUN_URL" property="funUrl" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <collection property="sysFuns" ofType="com.gzu.su.manager.user.model.SysFun">
      <id column="cId" property="id" jdbcType="VARCHAR" />
      <result column="cName" property="funName" jdbcType="VARCHAR" />
      <result column="cUrl" property="funUrl" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    ID, FUN_NAME, FUN_ICON, FUN_URL, PARENT_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gzusu_manager_sys_fun
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gzusu_manager_sys_fun
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gzu.su.manager.user.model.SysFun">
    insert into gzusu_manager_sys_fun (ID, FUN_NAME, FUN_ICON, 
      FUN_URL, PARENT_ID, CREATE_TIME,
      UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{funName,jdbcType=VARCHAR}, #{funIcon,jdbcType=VARCHAR}, 
      #{yfunUrl,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gzu.su.manager.user.model.SysFun">
    insert into gzusu_manager_sys_fun
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="funName != null">
        FUN_NAME,
      </if>
      <if test="funIcon != null">
        FUN_ICON,
      </if>
      <if test="yfunUrl != null">
        FUN_URL,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="funName != null">
        #{funName,jdbcType=VARCHAR},
      </if>
      <if test="funIcon != null">
        #{funIcon,jdbcType=VARCHAR},
      </if>
      <if test="yfunUrl != null">
        #{yfunUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzu.su.manager.user.model.SysFun">
    update gzusu_manager_sys_fun
    <set>
      <if test="funName != null">
        FUN_NAME = #{funName,jdbcType=VARCHAR},
      </if>
      <if test="funIcon != null">
        FUN_ICON = #{funIcon,jdbcType=VARCHAR},
      </if>
      <if test="yfunUrl != null">
        FUN_URL = #{yfunUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzu.su.manager.user.model.SysFun">
    update gzusu_manager_sys_fun
    set FUN_NAME = #{funName,jdbcType=VARCHAR},
      FUN_ICON = #{funIcon,jdbcType=VARCHAR},
      FUN_URL = #{yfunUrl,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findAllFuns" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gzusu_manager_sys_fun
    order by ID
  </select>

  <select id="findByRoleId" resultMap="BaseResultMap">
    select a.ID,a.FUN_NAME,a.FUN_URL,a.FUN_ICON,b.ID as cId,b.FUN_NAME as cName,b.FUN_URL as cUrl
    from (select sf.ID,sf.FUN_NAME,sf.FUN_URL,sf.FUN_ICON,sf.PARENT_ID
    from gzusu_manager_role_fun_mid rfm,gzusu_manager_sys_fun sf
    where rfm.ROLE_ID = #{roleId}
    and rfm.FUN_ID = sf.ID
    and sf.PARENT_ID = #{pId}) a
    LEFT JOIN (select sf.FUN_NAME,sf.PARENT_ID,sf.ID,sf.FUN_URL
    from gzusu_manager_role_fun_mid rfm, gzusu_manager_sys_fun sf
    where rfm.ROLE_ID = #{roleId}
    and sf.ID = rfm.FUN_ID) b
    on a.ID = b.PARENT_ID
    order by a.ID,b.ID
  </select>
</mapper>