<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.su.manager.user.dao.SysFunMapper">
  <resultMap id="BaseResultMap" type="com.gzu.su.manager.user.model.SysFun">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="FUN_NAME" jdbcType="VARCHAR" property="funName" />
    <result column="FUN_ICON" jdbcType="VARCHAR" property="funIcon" />
    <result column="YFUN_URL" jdbcType="VARCHAR" property="yfunUrl" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, FUN_NAME, FUN_ICON, YFUN_URL, PARENT_ID, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gzusu_manager_sys_fun
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gzusu_manager_sys_fun
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gzu.su.manager.user.model.SysFun">
    insert into gzusu_manager_sys_fun (ID, FUN_NAME, FUN_ICON, 
      YFUN_URL, PARENT_ID, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{funName,jdbcType=VARCHAR}, #{funIcon,jdbcType=VARCHAR}, 
      #{yfunUrl,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gzu.su.manager.user.model.SysFun">
    insert into gzusu_manager_sys_fun
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="funName != null">
        FUN_NAME,
      </if>
      <if test="funIcon != null">
        FUN_ICON,
      </if>
      <if test="yfunUrl != null">
        YFUN_URL,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="funName != null">
        #{funName,jdbcType=VARCHAR},
      </if>
      <if test="funIcon != null">
        #{funIcon,jdbcType=VARCHAR},
      </if>
      <if test="yfunUrl != null">
        #{yfunUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzu.su.manager.user.model.SysFun">
    update gzusu_manager_sys_fun
    <set>
      <if test="funName != null">
        FUN_NAME = #{funName,jdbcType=VARCHAR},
      </if>
      <if test="funIcon != null">
        FUN_ICON = #{funIcon,jdbcType=VARCHAR},
      </if>
      <if test="yfunUrl != null">
        YFUN_URL = #{yfunUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzu.su.manager.user.model.SysFun">
    update gzusu_manager_sys_fun
    set FUN_NAME = #{funName,jdbcType=VARCHAR},
      FUN_ICON = #{funIcon,jdbcType=VARCHAR},
      YFUN_URL = #{yfunUrl,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>