<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.su.manager.transaction.dao.TransactionInfoMapper">
  <resultMap id="BaseResultMap" type="com.gzu.su.manager.transaction.model.TransactionInfo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TRANSACTION_NAME" jdbcType="VARCHAR" property="transactionName" />
    <result column="STATUS_DESC" jdbcType="VARCHAR" property="statusDesc" />
    <result column="TRANSACTION_SCHEME" jdbcType="VARCHAR" property="transactionScheme" />
    <result column="TRANSACTION_FINISH" jdbcType="TIMESTAMP" property="transactionFinish" />
    <result column="TRANSACTION_BEGIN" jdbcType="TIMESTAMP" property="transactionBegin" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.gzu.su.manager.transaction.model.TransactionInfo">
    <result column="TRANSACTION_CONTENT" jdbcType="LONGVARCHAR" property="transactionContent" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TRANSACTION_NAME, STATUS_DESC, TRANSACTION_SCHEME, TRANSACTION_FINISH, TRANSACTION_BEGIN, 
    CREATE_TIME, UPDATE_TIME, STATUS
  </sql>
  <sql id="Blob_Column_List">
    TRANSACTION_CONTENT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gzusu_manager_transaction_info
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gzusu_manager_transaction_info
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gzu.su.manager.transaction.model.TransactionInfo">
    insert into gzusu_manager_transaction_info (ID, TRANSACTION_NAME, STATUS_DESC, 
      TRANSACTION_SCHEME, TRANSACTION_FINISH, 
      TRANSACTION_BEGIN, CREATE_TIME, UPDATE_TIME, 
      STATUS, TRANSACTION_CONTENT)
    values (#{id,jdbcType=VARCHAR}, #{transactionName,jdbcType=VARCHAR}, #{statusDesc,jdbcType=VARCHAR}, 
      #{transactionScheme,jdbcType=VARCHAR}, #{transactionFinish,jdbcType=TIMESTAMP}, 
      #{transactionBegin,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{transactionContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gzu.su.manager.transaction.model.TransactionInfo">
    insert into gzusu_manager_transaction_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="transactionName != null">
        TRANSACTION_NAME,
      </if>
      <if test="statusDesc != null">
        STATUS_DESC,
      </if>
      <if test="transactionScheme != null">
        TRANSACTION_SCHEME,
      </if>
      <if test="transactionFinish != null">
        TRANSACTION_FINISH,
      </if>
      <if test="transactionBegin != null">
        TRANSACTION_BEGIN,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="transactionContent != null">
        TRANSACTION_CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="transactionName != null">
        #{transactionName,jdbcType=VARCHAR},
      </if>
      <if test="statusDesc != null">
        #{statusDesc,jdbcType=VARCHAR},
      </if>
      <if test="transactionScheme != null">
        #{transactionScheme,jdbcType=VARCHAR},
      </if>
      <if test="transactionFinish != null">
        #{transactionFinish,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionBegin != null">
        #{transactionBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="transactionContent != null">
        #{transactionContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzu.su.manager.transaction.model.TransactionInfo">
    update gzusu_manager_transaction_info
    <set>
      <if test="transactionName != null">
        TRANSACTION_NAME = #{transactionName,jdbcType=VARCHAR},
      </if>
      <if test="statusDesc != null">
        STATUS_DESC = #{statusDesc,jdbcType=VARCHAR},
      </if>
      <if test="transactionScheme != null">
        TRANSACTION_SCHEME = #{transactionScheme,jdbcType=VARCHAR},
      </if>
      <if test="transactionFinish != null">
        TRANSACTION_FINISH = #{transactionFinish,jdbcType=TIMESTAMP},
      </if>
      <if test="transactionBegin != null">
        TRANSACTION_BEGIN = #{transactionBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="transactionContent != null">
        TRANSACTION_CONTENT = #{transactionContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gzu.su.manager.transaction.model.TransactionInfo">
    update gzusu_manager_transaction_info
    set TRANSACTION_NAME = #{transactionName,jdbcType=VARCHAR},
      STATUS_DESC = #{statusDesc,jdbcType=VARCHAR},
      TRANSACTION_SCHEME = #{transactionScheme,jdbcType=VARCHAR},
      TRANSACTION_FINISH = #{transactionFinish,jdbcType=TIMESTAMP},
      TRANSACTION_BEGIN = #{transactionBegin,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR},
      TRANSACTION_CONTENT = #{transactionContent,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzu.su.manager.transaction.model.TransactionInfo">
    update gzusu_manager_transaction_info
    set TRANSACTION_NAME = #{transactionName,jdbcType=VARCHAR},
      STATUS_DESC = #{statusDesc,jdbcType=VARCHAR},
      TRANSACTION_SCHEME = #{transactionScheme,jdbcType=VARCHAR},
      TRANSACTION_FINISH = #{transactionFinish,jdbcType=TIMESTAMP},
      TRANSACTION_BEGIN = #{transactionBegin,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="PageResultMap" type="com.gzu.su.manager.transaction.model.vo.TransactionInfoVo">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TRANSACTION_NAME" jdbcType="VARCHAR" property="transactionName" />
    <result column="STATUS_DESC" jdbcType="VARCHAR" property="statusDesc" />
    <result column="TRANSACTION_SCHEME" jdbcType="VARCHAR" property="transactionScheme" />
    <result column="TRANSACTION_FINISH" jdbcType="TIMESTAMP" property="transactionFinish" />
    <result column="TRANSACTION_BEGIN" jdbcType="TIMESTAMP" property="transactionBegin" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="TRANSACTION_CONTENT" jdbcType="LONGVARCHAR" property="transactionContent" />
    <collection property="departmentInfos" ofType="com.gzu.su.manager.department.model.DepartmentInfo">
      <result column="DEP_NAME" property="depName" jdbcType="VARCHAR"></result>
    </collection>
  </resultMap>

  <select id="findByPage" resultMap="PageResultMap">
    SELECT
    INFO.ID,
    INFO.TRANSACTION_NAME,
    INFO.STATUS_DESC,
    INFO.TRANSACTION_SCHEME,
    INFO.TRANSACTION_FINISH,
    INFO.TRANSACTION_BEGIN,
    DEP.DEP_NAME,
    INFO.CREATE_TIME,
    INFO.UPDATE_TIME,
    INFO.STATUS,
    INFO.TRANSACTION_CONTENT
    FROM
    gzusu_manager_transaction_info INFO
    <if test="tName != null and tName != ''">
      WHERE INFO.TRANSACTION_NAME  LIKE CONCAT('%',#{tName,jdbcType=VARCHAR},'%')
    </if>
    LEFT JOIN(
    SELECT
    DEP.DEP_NAME,
    MID.TRANSACTION_ID
    FROM gzusu_manager_department_info DEP
    LEFT JOIN
    gzusu_manager_transaction_department_mid MID ON MID.DEPARTMENT_ID = DEP.ID
    ) DEP ON INFO.ID = DEP.TRANSACTION_ID
    order by INFO.UPDATE_TIME DESC
    LIMIT #{startNum},#{size}
  </select>

  <select id="selectTransactionInfoVo" resultMap="PageResultMap">
    SELECT
    INFO.ID,
    INFO.TRANSACTION_NAME,
    INFO.STATUS_DESC,
    INFO.TRANSACTION_SCHEME,
    INFO.TRANSACTION_FINISH,
    INFO.TRANSACTION_BEGIN,
    DEP.DEP_NAME,
    INFO.CREATE_TIME,
    INFO.UPDATE_TIME,
    INFO.STATUS,
    INFO.TRANSACTION_CONTENT
    FROM
    gzusu_manager_transaction_info INFO
    WHERE INFO.ID = #{id}
    LEFT JOIN(
    SELECT
    DEP.DEP_NAME,
    MID.TRANSACTION_ID
    FROM gzusu_manager_department_info DEP
    LEFT JOIN
    gzusu_manager_transaction_department_mid MID ON MID.DEPARTMENT_ID = DEP.ID
    ) DEP ON INFO.ID = DEP.TRANSACTION_ID
    order by INFO.UPDATE_TIME DESC
  </select>


  <select id="findByPageCount" resultType="java.lang.Integer">
    SELECT
    COUNT(d.ID)
    FROM (
    SELECT
    *
    FROM
    gzusu_manager_transaction_info INFO
    <if test="tName != null and tName != ''">
      WHERE INFO.TRANSACTION_NAME  LIKE CONCAT('%',#{tName,jdbcType=VARCHAR},'%')
    </if>
    )d
  </select>

  <select id="findByName" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    gzusu_manager_transaction_info
    <if test="tName != null and tName != ''">
      WHERE TRANSACTION_NAME LIKE CONCAT('%',#{tName,jdbcType=VARCHAR},'%')
    </if>
  </select>
</mapper>