<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzu.su.manager.user.dao.UserRoleMidMapper">
  <resultMap id="BaseResultMap" type="com.gzu.su.manager.user.model.UserRoleMid">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="ROLE_DESC" jdbcType="VARCHAR" property="roleDesc" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="ROLE_STATUS" jdbcType="VARCHAR" property="roleStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ROLE_NAME, ROLE_DESC, CREATE_TIME, UPDATE_TIME, ROLE_STATUS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gzusu_manager_user_role_mid
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from gzusu_manager_user_role_mid
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gzu.su.manager.user.model.UserRoleMid">
    insert into gzusu_manager_user_role_mid (ID, ROLE_NAME, ROLE_DESC, 
      CREATE_TIME, UPDATE_TIME, ROLE_STATUS
      )
    values (#{id,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{roleStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gzu.su.manager.user.model.UserRoleMid">
    insert into gzusu_manager_user_role_mid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleName != null">
        ROLE_NAME,
      </if>
      <if test="roleDesc != null">
        ROLE_DESC,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="roleStatus != null">
        ROLE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleStatus != null">
        #{roleStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gzu.su.manager.user.model.UserRoleMid">
    update gzusu_manager_user_role_mid
    <set>
      <if test="roleName != null">
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null">
        ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleStatus != null">
        ROLE_STATUS = #{roleStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gzu.su.manager.user.model.UserRoleMid">
    update gzusu_manager_user_role_mid
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      ROLE_STATUS = #{roleStatus,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findByPage" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gzusu_manager_user_role_mid
    <if test="rName != null and rName != ''" >
      where ROLE_NAME LIKE CONCAT('%',#{rName},'%')
    </if>
    order by UPDATE_TIME desc
    limit #{startNum},#{size}
  </select>
  <select id="findByPageCount" resultType="java.lang.Integer">
    select COUNT(ur.ID) from gzusu_manager_user_role_mid ur
    <if test="rName != null and rName != ''" >
      where ur.ROLE_NAME LIKE CONCAT('%',#{rName},'%')
    </if>
  </select>
  <select id="findUserCountByRoleId" resultType="java.lang.Integer">
    select COUNT(ui.ID) from gzusu_manager_user_info ui
    where ui.ROLE_ID = #{rId}
  </select>
  <select id="findAllRoles" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from gzusu_manager_user_role_mid
    where ROLE_STATUS = "0"
  </select>
</mapper>