<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"
          media="all">
    <script type="text/javascript" charset="UTF-8"
            src="/static/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/layui/layui.all.js" type="text/javascript"
            charset="UTF-8"></script>
    <style type="text/css">
        #promotion_add {
            padding: 10px 10px;
        }

        .layui-row {
            margin-top: 10px
        }
    </style>
</head>

<body class="layui-card-body">
<div id="promotion_add">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <input type="hidden" th:value="${dp.id}" name="id">
            <label class="layui-form-label">部门名称</label>
            <div class="layui-input-block " th:if="${sign} eq 'add'">
                <input type="text"  lay-verify="depName"  autocomplete="off"
                       name="depName"
                       placeholder="请输入部门名称"
                       class="layui-input">
            </div>
            <div class="layui-input-block " th:if="${sign} eq 'edit'">
                <input type="text"  lay-verify="depName"  autocomplete="off"
                       name="depName"
                       th:value="${dp.depName}"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部长姓名</label>
            <div class="layui-input-block" th:if="${sign} eq 'add'">
                <input type="text"  lay-verify="depMinsterName"  autocomplete="off"
                       name="depMinsterName"
                       placeholder="请输入部长姓名"
                       class="layui-input">

            </div>
            <div class="layui-input-block" th:if="${sign} eq 'edit'">
                <input type="text"  lay-verify="depMinsterName"  autocomplete="off"
                       name="depMinsterName"
                       th:value="${dp.depMinsterName}"
                       class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部员总数</label>
            <div class="layui-input-block" th:if="${sign} eq 'add'">
                <input type="text"  lay-verify="depMemberSum"  autocomplete="off"
                       name="depMemberSum"
                       placeholder="请输入该部门所有成员数量"
                       class="layui-input">

            </div>
            <div class="layui-input-block" th:if="${sign} eq 'edit'">
                <input type="text"  lay-verify="depMemberSum"  autocomplete="off"
                       name="depMemberSum"
                      th:value="${dp.depMemberSum}"
                       class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部长电话</label>
            <div class="layui-input-block" th:if="${sign} eq 'add'">
                <input type="text"  lay-verify="ministerPhoneNu"  autocomplete="off"
                       name="ministerPhoneNu"
                       placeholder="请输入该部门部长的电话"
                       class="layui-input">

            </div>
            <div class="layui-input-block" th:if="${sign} eq 'edit'">
                <input type="text"  lay-verify="ministerPhoneNu"  autocomplete="off"
                       name="ministerPhoneNu"
                       th:value="${dp.ministerPhoneNu}"
                       class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-row" style="text-align: center;">
                <button class="layui-btn" lay-submit
                        lay-filter="doSubmit">提交
                </button>
                <button class="layui-btn" type="reset" id="btnCancel">取消
                </button>
            </div>
        </div>
    </form>

</div>

<script src="/static/management/department/department.ifno.js" charset="utf-8"></script>
<script type="text/javascript"  charset="UTF-8" src="/static/common/common.js"></script>
</body>
</html>